@import '../../styles/_variables.scss';

.competition-page {
  margin: 0 21px 10px 21px;

  h1 {
    font-family: "Poppins SemiBold", serif;
    font-size: 22px;
    color: $white-with-opacity;
    margin: 23px 0 21px 0;
  }

}
