// colors
$dark-grey: #14171A;
$salmon: #FF6F6F;
$dark-claret: #261516;
$dark-green: #082618;
$light-green-1: #81EDB9;
$light-green-2: #88FFC7;
$light-sea-green: #C2F0ED;
$white-with-opacity: rgba(255, 255, 255, 0.5)

