// colors
$dark-grey: #14171A;
$light-red: #FF6F6F;
$dark-claret: #261516;
$dark-green: #082618;
$light-green-1: #74d5a7;
$light-green-1-hover: #59a682;
$light-green-2: #88FFC7;
$light-sea-green: #C2F0ED;
$background-green: #c1e5cf;
$background-purple: #ddc1f2;
$background-beige: #e2d7cf;
$background-grey: #adadae;
$background-hot-beige: #e5c8c8;
$background-light-beige: #e3cdcb;
$white-with-opacity: rgba(255, 255, 255, 0.5)

