@import '../../styles/_variables.scss';

.contestant-card-wrapper {
  width: 100%;
  height: 77px;
  background-color: black;
  border-radius: 8px;
  display: flex;
  margin-bottom: 10px;

  &--place {
    width: 50px;
    background-color: $background-green;
    border-radius: 8px 0 0 8px;
  }

}

.contestant-card {
  padding: 8px 12px 11px 22px;
  width: calc(100% - 50px);
  box-sizing: border-box;
  position: relative;

  &--name {
    display: flex;

    p {
      margin-right: 5px;
    }
  }


  &--image-wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    p {
      position: absolute;
      left: 6px;
      top: -3px;
      font-family: "Poppins SemiBold Italic", serif;
      font-size: 24px;
      color: rgba(11, 37, 77, 0.2);
    }

    span:first-child {
      font-size: 33px;
    }

    span:last-child {
      vertical-align: super;
    }

    img {
      position: absolute;
      top: 50%;
      right: -9px;
      z-index: 1;
      transform: translate(0, -50%);
    }
  }

  &--gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black linear-gradient(to left, #54FFAE, rgba(129, 237, 186, 0));
    opacity: 0.15;
    border-radius: 8px;
  }

  &--gradient-failure {
    background: black linear-gradient(to left, $light-red, rgba(255, 111, 111, 0));
  }

  &--stats {
    display: flex;
  }

  .stat-box {
    margin-right: 10px;

    &--value {
      font-family: "Poppins Medium", serif;
    }

    &--label {
      font-size: 10px;
      color: $white-with-opacity;
    }
  }

  .stat-box-balance {
    position: absolute;
    right: 12px;

    &--cash {
      font-family: "Poppins SemiBold", serif;
      color: $light-green-2;
    }

    &--percentage {
      font-family: "Poppins SemiBold", serif;
      font-size: 10px;
      color: $light-green-2;

      display: flex;
      justify-content: flex-end;
    }
  }
}

.negative-balance {
  .stat-box-balance--cash, .stat-box-balance--percentage {
    color: $light-red;
  }
}

.background-light-green {
  background-color: $background-green;
}

.background-purple {
  background-color: $background-purple;
}

.background-beige {
  background-color: $background-beige;
}

.background-grey {
  background-color: $background-grey;
}

.background-hot-beige {
  background-color: $background-hot-beige;
}

.background-light-beige {
  background-color: $background-light-beige;
}

