<div class="contestant-card-wrapper">
  <div class="contestant-card-wrapper--place" [ngClass]="{
  'background-light-green' : contestant?.backgroundColor === backgroundColor.LIGHT_GREEN,
  'background-purple' : contestant?.backgroundColor === backgroundColor.PURPLE,
  'background-beige' : contestant?.backgroundColor === backgroundColor.BEIGE,
  'background-grey' : contestant?.backgroundColor === backgroundColor.GREY,
  'background-hot-beige' : contestant?.backgroundColor === backgroundColor.HOT_BEIGE,
  'background-light-beige' : contestant?.backgroundColor === backgroundColor.LIGHT_BEIGE,
  }">
    <div class="contestant-card--image-wrapper">
      <p><span>{{index}}</span><span>{{getSuffix(index)}}</span></p>
      <img src="assets/images/polygon/{{contestant?.pictureFileName}}.svg"
           alt="user profile image">
    </div>
  </div>

  <div class="contestant-card">
    <div class="contestant-card--gradient"
         [ngClass]="{'contestant-card--gradient-failure' : isBalanceNegative}">
    </div>
    <div class="contestant-card--name">
      <p>{{contestant?.contestantName}}</p>

      <ng-container *ngIf="contestant?.isVerified">
        <img src="assets/icons/verified-user.svg"
             alt="check icon">
      </ng-container>

    </div>
    <div class="contestant-card--stats">
      <div class="stat-box">
        <p class="stat-box--value">{{contestant?.alerts}}</p>
        <p class="stat-box--label">Alerts</p>
      </div>
      <div class="stat-box">
        <p class="stat-box--value">{{contestant?.winRate}}</p>
        <p class="stat-box--label">Win Rate</p>
      </div>
      <div class="stat-box">
        <p class="stat-box--value">{{contestant?.yield}}</p>
        <p class="stat-box--label">Yield</p>
      </div>
      <div class="stat-box-balance"
           [ngClass]="{'negative-balance': isBalanceNegative}">
        <p class="stat-box-balance--cash">{{contestant?.cashBalance}}</p>
        <p class="stat-box-balance--percentage">{{contestant?.percentage}}</p>
      </div>
    </div>
  </div>
</div>
