@import '../styles/_variables.scss';

.layout-container {
  width: 100%;

  &--background {
    width: 100%;
    position: fixed;
    z-index: -1;
  }
}

.round-button {
  width: 50px;
  aspect-ratio: 1;
  background-image: linear-gradient(to left, $light-sea-green, $light-green-1);
  box-shadow: 0 5px 30px 17px rgba(0, 0, 0, 0.8);
  border: 0;
  border-radius: 50%;
  bottom: 47px;
  right: 20px;
  z-index: 1;
  position: fixed;
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(to left, $light-sea-green, $light-sea-green);
  }
}

