<div class="profile-bar">

  <div class="profile-bar--image">
    <img src="assets/images/round/profile-image-round-1.svg"
         alt="user profile image">
    <p>AG</p>
  </div>

  <div class="profile-bar--info">
    <div>
      <p>Alex G</p>
    </div>
    <div class="profile-bar--info--second-row">
      <img src="assets/icons/xbits.svg"
           alt="xtrades logo">
      <p>3000 xBits</p>

      <img src="assets/icons/crown.svg"
           alt="crown icon">
      <p>85</p>
    </div>
  </div>

  <div class="profile-bar--add-user">
    <img src="assets/icons/add-user.svg"
         alt="add user icon">
  </div>
</div>
