/* You can add.svg global styles to this file, and also import other style files */
@font-face {
  font-family: 'Poppins Medium';
  src: url('./assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('./assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins SemiBold';
  src: url('./assets/fonts/Poppins-SemiBold.ttf');
}

body {
  background-color: black;
  margin: 0;
  font-size: 14px;
}
