<div class="competition-type__card">
  <div class="competition-type__card--header">
    <div>
      <img src="assets/images/participants/participant-image-1.svg"
           alt="participant photo">
      <img src="assets/images/participants/participant-image-2.svg"
           alt="participant photo">
      <img src="assets/images/participants/participant-image-3.svg"
           alt="participant photo">
      <img src="assets/images/participants/participants-number.svg"
           alt="participant photo">
    </div>
    <ng-container>
      <p>Too late to join</p>
    </ng-container>
  </div>
</div>
