<div class="competition-type-card">
  <div class="competition-type-card--header">
    <div class="participants">
      <img src="assets/images/participants/participant-image-1.svg"
           alt="participant photo">
      <img src="assets/images/participants/participant-image-2.svg"
           alt="participant photo">
      <img src="assets/images/participants/participant-image-3.svg"
           alt="participant photo">
      <div class="participants--circle">
        <p>18</p>
      </div>
    </div>
    <ng-container *ngIf="!competition?.isContestAvailable">
      <p>Too late to join</p>
    </ng-container>
  </div>

  <h2 [ngStyle]="{'opacity': competition?.isContestAvailable ? '1' : '0.5'}">{{competition?.competitionName}}</h2>

  <ng-container *ngFor="let contestant of competition?.contestantCards">
    <app-contestant-card [contestant]="contestant"></app-contestant-card>
  </ng-container>
  <div class="competition-info">
    <div class="competition-info--login">
      <div>
        <img src="assets/images/round/profile-image-round-2.svg"
             alt="profile photo">
      </div>
      <div>
        <p class="big-text">{{competition?.shortName}}</p>
        <p class="small-text">{{competition?.login}}</p>
      </div>
    </div>


    <div class="competition-info--prize">

        <div class="competition-info--circle green-border">
          <img src="assets/icons/xbits.svg"
               alt="xbits sign">
        </div>

      <div>
        <p class="big-text">{{competition?.xBitsPrize}}</p>
        <p class="small-text">&#64;xBits prize</p>
      </div>
    </div>

    <div [ngClass]="{'over-time': !competition?.isContestAvailable}" class="competition-info--duration">
      <div class="competition-info--circle">
        <p>{{competition?.days}}</p>
      </div>
      <div>
        <p class="big-text">Days</p>
        <ng-container *ngIf="!competition?.isContestAvailable; else daysLeft">
          <p class="small-text">past</p>
        </ng-container>
      </div>
    </div>
  </div>

  <button>
    <ng-container *ngIf="!competition?.isContestAvailable; else join">
      <p>VIEW</p>
    </ng-container>
  </button>
</div>

<ng-template #daysLeft>
  <p class="small-text">left</p>
</ng-template>

<ng-template #join>
  <p>JOIN</p>
</ng-template>
