@import '../../styles/_variables.scss';

.competition-type-card {
  width: 100%;
  background-color: $dark-grey;
  border-radius: 20px;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  padding: 14px 15px 16px 15px;
  box-sizing: border-box;
  margin-bottom: 9px;

  &--header {
    display: flex;
    justify-content: space-between;

    p {
      font-size: 10px;
      color: $white-with-opacity;
    }

    img {
      margin-right: -6px;
    }
  }

  .participants {
    display: flex;

    &--circle {
      width: 16px;
      height: 16px;
      background-color: #2B2E30;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: 8px;
      }
    }
  }

  h2 {
    color: #FFFFFF;
    font-size: 20px;
    margin: 18px 0 22px 0;
    font-family: "Poppins Medium", serif;
  }

  .competition-info {
    display: flex;
    align-items: center;
    margin: 20px 0 25px 0;
    position: relative;

    &--login {
      display: flex;
      align-items: center;
      margin-right: 10px;

      img {
        margin-right: 8px;
      }
    }

    &--circle {
      width: 24px;
      height: 24px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8px;
      border: 0.5px solid white;

      p {
        font-family: "Poppins Medium", serif;
        font-size: 12px;
      }
    }

    &--prize {
      display: flex;
      align-items: center;

      .green-border {
        border: 0.5px solid #05d7be;
      }

    }

    &--duration {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;

      .competition-info--circle {
        background-color: #42474A;
      }

    }

    .big-text {
      font-family: "Poppins Medium", serif;
      font-size: 10px;
    }

    .small-text {
      font-size: 8px;
      color: $white_with-opacity;
    }

    .over-time {
      p {
        color: $salmon;
      }

      .competition-info--circle {
        background-color: $dark-claret;
        border: 0.5px solid $salmon;
      }
    }
  }

  button {
    width: 100%;
    border-radius: 13px;
    border: 0;
    background-color: $light-green-1;
    padding: 14.5px;

    p {
      color: $dark-green;
      font-family: "Poppins SemiBold", serif;
      font-size: 12px;
    }
  }
}

